.bookTourSection {
    padding: 1rem;
  }
  
  .availabilityContainer {
    margin-bottom: 1rem;
  }

    .bookTourContainer{
      margin-bottom: 4rem;
    }
  
  .availabilityHeading,
  .bookTourHeading {
    font-size: 1.25rem;
  }
  
  .datePicker {
    max-width: 200px;
  }
  
  .bookTourBox {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .formInput {
    height: 3rem;
  }
  
  .textarea {
    resize: none;
  }
  
  .bookButton {
    padding: 0.5rem 1rem;
    background-color: #5B656F;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
  }
  
  .footerAvailability {
    padding: 1rem;
    background-color: #f5f5f5;
  }
  
  .priceContainer {
    margin-bottom: 1rem;
    padding: 12px 20px 12px 20px;
  }
  
  .vipServiceHeading {
    font-size: 1.5rem;
  }

  .rdrCalendarWrapper{
    background-color: #F5F3F1 ;
  }



  .FormDaily{
    background-color: #fff;
    width: 100%;
    height: 90px;
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
  }

  .bookTourHeadingMobile{
    font-size: 32px;
    font-weight: 700;
      margin: 20px;
  }
  


 
  
  @media (max-width: 767px) {
   


    .bookTourSection{
      display: none !important;
    }

  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .ForMobile{
      display: none !important;
    }

  .bookTourBox,.bookTourHeading{
    margin-left: 45px;
  }
  }
  
  @media only screen and (min-width: 992px) {
    .ForMobile{
      display: none !important;
    }
  }


  /* ************************************** */


  