@font-face {
    font-family: 'Rufina';
    src: local('Rufina Regular'), local('Rufina-Regular'), url(https://cdn.jsdelivr.net/npm/@fontsource/rufina@4.0.0/files/rufina-latin-400.woff2) format('woff2'), url(https://cdn.jsdelivr.net/npm/@fontsource/rufina@4.0.0/files/rufina-latin-400.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'),
         url(https://cdn.jsdelivr.net/npm/@fontsource/raleway@4.0.0/files/raleway-latin-400.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/npm/@fontsource/raleway@4.0.0/files/raleway-latin-400.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body{
    background-color: #F6F7F7 !important;
  }



  

:root{
    --main-color-dark:  #181D24;
    --main-color-bg: #C9BDAB;


}

.font-title{
    font-family: Rufina;
    font-weight: 700;
}

.font-content{
    font-family: Raleway;
    font-weight: 400;
}


.name{
  font-family: Rufina;
  font-weight: 700;
  font-size: 24px;
  color: #112211;
}

.email{
  font-family: Rufina;
  font-weight: 400;
  font-size: 16px;
  color: #112211;
}


.tab-title{
  font-family: Rufina;
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}

.fa-plus{

padding: 10px;
  border: 2px solid #234F68;
  border-radius: 50%;
  font-size: 24px;
}


